body {

    font-family: 'Assistant', sans-serif;
    font-size: 18px;
    margin-top: 30px;
    margin: 0;
}


h2 {
    text-align: center;
    color: #08c;
    margin-top: 0px;
    margin-bottom: 0px;
    border-color: #f8d8cd;
    border-top-style: groove;
    border-bottom-style: groove
}

.page {

    text-align: right;
    background-color: #d6c3af3b;
    color: #000;
    margin-top: 0px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

/*
div {
    display: block;
}
*/


.container {

    max-width: 500px;
    margin: auto;


    margin-bottom: 20px;
    margin-top: 20px;
}


img {
    max-width: 100%;
    width: auto;
    height: auto;
}

.contact h2 {
    color: #eb8457;
    border: none;
}

.contact {
    background: url(img/backround.jpg) center;

    background-size: cover;

    text-align: center;


    z-index: -1;
    /* margin-top: 20px;*/

    color: #000;
    padding: 30px;



}

.contact a {
       text-decoration: underline;

}

.contact a:hover {
    background-color: #a0b96e;
     text-decoration: none;
}

.logo {
    text-align: center;
    font-size: 24px;
    color: #c19c91;
    margin: auto;
    display: table;

}

.logo img {
    display: block;
    margin: auto;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    align-items: center;

}

.gallery img {
    display: block;
    /*border: 3px solid #f8d8cd;*/

}

.gallery {

    padding-left: 10px;
    padding-right: 10px;


    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    align-items: center;
    text-align: center;

    list-style-type: none;
    padding: 0;

}

@media (max-width: 800px) {
    .grid {
        grid-template-columns: 1fr;
    }


}

* {
    box-sizing: border-box;
}

ion-icon {
    size="small";
    color: #d15d28;

    /* font-size: 25px;*/
    /*  font-weight: bold;*/
}

.contact a {
    color: #823006;
}




.butoon:hover {
    background-color: #a0b96e;
    color: #red;
}

.butoon {

    transition: .3s;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    color: #000;
    border: 2px solid #a97357;
    font-family: 'Secular One', sans-serif;
    font-size: 16px;
    padding: 1px 2px;
    margin: 3px 0;




}
