body {

    font-family: 'Assistant', sans-serif;
    font-size: 18px;

    background-color: #d6c3af3b;


}


h2 {
    color: #08c;
    text-align: center;
    border-color: #f8d8cd;
    border-top-style: groove;
    border-bottom-style: groove
}


.container {

    max-width: 800px;
    margin: auto;
}


img {
    max-width: 100%;
    width: auto;
    height: auto;
}

.align {
    max-width: 50%;
}


.aligncenter {
    max-width: 50%;
    display: block;
    margin: auto;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    align-items: center;

}

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    align-items: center;

    border: 5px dotted #08c
}

@media (max-width: 800px) {
    .grid {
        grid-template-columns: 1fr;
    }
}
