body {

    font-family: 'Assistant', sans-serif;
    font-size: 18px;
    margin-top: 30px;
    margin: 0;
}


h2 {
    font-size: 30px;
    text-align: center;
    color: #08c;
    margin-top: 30px;
    margin-bottom: 30px;
}

.page {
    background-color: #d6c3af3b;
    color: #000;
    margin-top: 20px;
    padding-bottom: 20px;
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
}


.page .container {

    max-width: 1000px;
    margin: auto;


    margin-bottom: 20px;
    margin-top: 20px;
}

.container {

    max-width: 800px;
    margin: auto;


    margin-bottom: 20px;
    margin-top: 20px;
}

img {
    max-width: 100%;
    width: auto;
    height: auto;
}

.contact {
    background: url(img/2.jpeg);
    background-size: cover;
    text-align: center;

    z-index: -1;

    color: #000;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 10px 0px;

    grid-gap: 20px;
    align-items: center;
    text-align: center;
}

.contact h2 {
    margin-top: 50px;

    margin-bottom: -15px;
    color: #6e9e2e;
    border: none;
}

.contact a:hover {
    transform: scale(1.2);
    color: #000;
    font-weight: bold;
    text-decoration: underline;

}

.contact a {
    text-decoration: none;

    color: #823006;
}

@media(max-width: 800px) {
    .contact {
        padding: 0px 0px;
        grid-template-columns: 1fr;
        background-position: right
    }
}

div {
    display: block;
}


.logo {
    text-align: center;
    font-size: 24px;
    color: #c19c91;
    margin: auto;
    display: table;

}


.logo img {
    display: block;
    margin: auto;
}


.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    align-items: center;

}

@media(max-width: 800px) {
    .grid {
        grid-template-columns: 1fr;
    }
}

.gallery {
    padding: 10px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    align-items: center;
    text-align: center;
    list-style-type: none;
    padding: 0;
}

.gallery img {
    display: block;
    margin: auto;
    border: 2px solid #08c;
}

.gallery li:hover {

    color: #08c;

    font-weight: bold;

}

@media (max-width: 700px) {
    .gallery {
        grid-template-columns: 1fr;

        margin-right: 90px;


        max-width: 60%;
        width: auto;
        height: auto;
    }

}

ion-icon {
    size="small";
    color: #d15d28;
}

.butoon {

    transition: .3s;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    color: #000;
    border: 1px solid #a97357;
    font-family: 'Secular One', sans-serif;
    font-size: 16px;
    padding: 1px 2px;
    margin: 3px 0px;
}

.butoon:hover {

    transform: scale(1.1);
    background-color: #b0cb7c;
}

.follow {

    font-size: 24px;
    color: #6e9e2e;
    font-weight: bold;
    margin-bottom: 0px;

}
